.parent {
    width: 500px;
    border: 1px solid red;
    margin: auto;
    text-align: center;
    background: black;
  }
  
  .child {
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  
  .one {
    background-color: rgb(18, 204, 229);
    position: absolute;
    top: 50px;
    left: 0;
  }
  
  .two {
    background-color: rgb(217, 12, 152);
  }
  
  .three {
    background-color: rgb(155, 238, 10);
  }
  
  .four {
    background-color: rgb(236, 16, 16);
  }
  